@if (Session["Email"] != null)
{
    @model ZeroHunger.Models.Order

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_delivery.cshtml";


    <div class="rform">
        <form action="/HomeIndex/ReqEdit" method="post">
            <table>
                <tr>
                    <th>
                        Create Order
                    </th>
                </tr>
                <tr align="center">
                    <td>
                        <br />
                        @Html.ValidationMessage("Error", "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>ID</b><br />
                        <input type="text" name="Id" value="@Model.Id" placeholder="Id" readonly>	<br />
                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger font" })
                        <br />
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>Resturant ID</b><br />
                        <input type="text" name="ResturantId" value="@Model.ResturantId" Placeholder="ResturrantId" readonly><br />
                        @Html.ValidationMessageFor(model => model.ResturantId, "", new { @class = "text-danger font" })

                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Name</b><br />
                        <input type="text" name="Name" value="@Model.Name" Placeholder="Name" readonly><br />
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger font" })

                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Quantity</b><br />
                        <input type="text" name="Quantity" Value="@Model.Quantity" placeholder="Quantity" readonly><br />
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger font" })
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Preserve</b><br />
                        <input type="text" name="Preserve" value="@Model.Preserve" placeholder="Preserve" readonly><br />
                        @Html.ValidationMessageFor(model => model.Preserve, "", new { @class = "text-danger font" })
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Status</b><br />
                        <select name="Status" style="width: 300px; height: 40px; padding: 5px; font-size: 20px; font-weight: 700; color: seagreen;">
                            <option value="">Select Status</option>
                            <option value="Accepted">Accepted</option>
                            <option value="Pick Up">Pick Up</option>
                            <option value="Rejected">Rejected</option>
                            <option value="Delivered">Delivered</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="Assign" value="@Model.Assign" placeholder="Assign"><br />
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        <br />
                        <button>Edit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
}
else
{
    ViewBag.Title = "Profiles";
    Layout = "~/Views/Shared/_homelayout.cshtml";
    <h1 align="center">Restricted</h1>
}

